/packages/*
!/packages/mega-site-navigation/js
!/packages/mega-site-navigation/scss
!/packages/mega-site-navigation/css
!/packages/mega-site-navigation/partials
/packages/mega-site-navigation/scss/.sass-cache/**
/packages/mega-site-navigation/scss/bourbon/**
/.sass-cache/**
/bower_components/**
/node_modules/*
/dist/*
/img/*
font-awesome.min.css
compiled.min.css
compiled.min.css.map
.babelrc
.browserslistrc
.modernizrrc.js
package-lock.json
Thumbs.db