.alert-left-arrow,
.alert-right-arrow {
  display: inline-block;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  padding: 10px;
  opacity: 0.60;
}

#alerts {
  display: none;
  position: relative;
  width: 100%;
}

.alert-box {
  .container{
    padding: 15px 0;
    @include media(xs) {
      padding: 15px;
    }
  }
  &.yellow  {
    background-color: #FCF8E3;  
    color: #D83F26;
    .alert-left-arrow,
    .alert-right-arrow
    .alert-switch,
    .alert-count {color: #D83F26;}
    .alert-switch,
    .alert-count {border: solid 1px #D64024;}
  }
  &.red  {
    background-color: #D64024;  
    color: #fff;
    .alert-left-arrow,
    .alert-right-arrow
    .alert-switch,
    .alert-count {color: #fff}

    .alert-switch,
    .alert-count {border: solid 1px #fff;}
  }
  &.blue  {
    background-color: #6EBAEC;  
    color: #fff;
    .alert-switch,
    .alert-count {
      color: #fff;
      border: solid 1px #fff;
    }
  }
  h5 {
    font-size: 24px;
    font-weight: normal;
    a  {color: inherit!important;}
  }
  .alert-content {
    font-weight: lighter;
    font-size: 17px;
    a {display: inline;}
  }
  .alert-left-arrow,
  .alert-right-arrow,
  .alert-switch {
    &:hover{opacity: 1}
  }
  .alert-right-arrow {
    left: 55px;
  }
  .alert-switch,
  .alert-count {
    border-radius: 5px;
    opacity: 0.40;
    cursor: pointer;
  }
  .alert-count {
    padding: 5px;
    position: relative;
    &:hover {opacity: 1;}
  }
  .alert-switch {
    float: right;
    display: inline;
    padding: 10px;
    font-size: 10px;
    font-weight: lighter;
    text-align: center;
    cursor: pointer;
    z-index: 9;
    color: inherit!important;
    border-radius: 5px;
    opacity: 0.40;
  }
  .alert-navigator {
    position: relative;
    .col-3 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
    }
  }
  .alert-info  {display: none;}
}
