.callout {
    padding: 0.75rem;
    border-width: 0 0 0 4px;
    border-style: solid;
    margin: 1rem 0;
    font-size: 1em;
    border-radius: $border-radius;

    h1 {font-size: 1.45em;}
    h2 {font-size: 1.35em;}
    h3 {font-size: 1.25em;}
    h4 {font-size: 1.15em;}
    h5 {font-size: 1.05em;}
    h6 {font-size: 1em;}

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0.25em !important;
        font-weight: 600 !important;
    }

    &.red {
        @include callout-type($red, -35%, 90%)
    }

    &.blue {
        @include callout-type($blue, -15%, 85%)
    }

    &.purple {
        @include callout-type($purple, -25%, 85%)
    }

    &.yellow {
        @include callout-type($yellow, -62%, 92%)
    }
    
    &.green {
        @include callout-type($green, -40%, 90%)
    }
    
    &.black {
        @include callout-type($gray-700, -40%, 65%)
    }
    
    &.grey {
        @include callout-type($gray-400, -75%, 55%)
    }

    &.orange {
        @include callout-type($orange, -48%, 90%)
    }
    
    &.cyan {
        @include callout-type($cyan, -35%, 89%)
    }

    &.bt-only {
        border-width: 4px 0 0 0 ;
    }

    &.bb-only {
        border-width: 0 0 4px 0 ;
    }

    &.btb {
        border-width: 4px 0 4px 0 ;
    }
}