.yellow {
  background: $yellow;
}
.blue{
  background: $blue;
}
.light{
  background: $ltBlue;
}
.white{
  background: $white;
}
.navblue{
  background: $dkBlue;
}
.qnBlue{
  background: $qnBlue;
}
.textYellow{
  color: $yellow;
}
.textBlue{
  color: $blue;
}
.textLight{
  color: $ltBlue;
}
.textWhite{
  color: $white;
}
.textNavBlue{
  color: $dkBlue;
}
.TextQnBlue{
  color: $qnBlue;
}