// @import 'functions/coloring';

.yellow {
  background: $yellow;
}
.blue{
  background: $blue;
}
.fill-yellow {
  fill: $yellow;
}
.fill-blue{
  fill: $blue;
}
.gray-100 {
  background: $gray-100;
}
.light{
  background: $ltBlue;
}
.white{
  background: $white;
}
.navblue{
  background: $dkBlue;
}
.qnBlue{
  background: $qnBlue;
}
.textWhite {
  color: $white;
}
.textYellow{
  color: $yellow;
}
.textBlue{
  color: $blue;
}
.textLight{
  color: $ltBlue;
}
.textWhite{
  color: $white !important;
}
.textNavBlue{
  color: $dkBlue;
}
.TextQnBlue{
  color: $qnBlue;
}
