header + main {
  background: $white;
}

#modernCont {
  background: white;
  #sm{
    @include media(mm) {
      display: block;
    }
    @include media(md) {
      display: none;
    } 
  }
  #fr{
    @include media(mm) {
      display: none;
    }
    @include media(md) {
      display: block;
    } 
  }
}
.home-hero{
  #vTrimControl{
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIyMHB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyMCAyMCIgd2lkdGg9IjIwcHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48dGl0bGUvPjxkZXNjLz48ZGVmcy8+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSI+PGcgZmlsbD0iIzAwMDAwMCIgaWQ9Ikljb25zLUFWIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwLjAwMDAwMCwgLTg1LjAwMDAwMCkiPjxnIGlkPSJwYXVzZS1jaXJjbGUtZmlsbCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMC4wMDAwMDAsIDg1LjAwMDAwMCkiPjxwYXRoIGQ9Ik0xMCwwIEM0LjUsMCAwLDQuNSAwLDEwIEMwLDE1LjUgNC41LDIwIDEwLDIwIEMxNS41LDIwIDIwLDE1LjUgMjAsMTAgQzIwLDQuNSAxNS41LDAgMTAsMCBMMTAsMCBaIE05LDE0IEw3LDE0IEw3LDYgTDksNiBMOSwxNCBMOSwxNCBaIE0xMywxNCBMMTEsMTQgTDExLDYgTDEzLDYgTDEzLDE0IEwxMywxNCBaIiBpZD0iU2hhcGUiLz48L2c+PC9nPjwvZz48L3N2Zz4=');
    width: 2em;
    height: 2em;
    position: absolute;
    bottom: 3%;
    color: $white;
    right: 1%;
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(1);
    cursor: pointer;
    opacity: 0.85;
    display: none;

    @include media(lg) {
      display: block;
      visibility: hidden;
    }

    &.fadeInAnimation {
      @include media(lg) {
        animation: fadeIn 1s normal forwards ease-in-out;
        animation-delay: 6s;
      }
    }

    &.pause {
      background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIyMHB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyMCAyMCIgd2lkdGg9IjIwcHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48dGl0bGUvPjxkZXNjLz48ZGVmcy8+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSI+PGcgZmlsbD0iIzAwMDAwMCIgaWQ9Ikljb25zLUFWIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTI2LjAwMDAwMCwgLTg1LjAwMDAwMCkiPjxnIGlkPSJwbGF5LWNpcmNsZS1maWxsIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMjYuMDAwMDAwLCA4NS4wMDAwMDApIj48cGF0aCBkPSJNMTAsMCBDNC41LDAgMCw0LjUgMCwxMCBDMCwxNS41IDQuNSwyMCAxMCwyMCBDMTUuNSwyMCAyMCwxNS41IDIwLDEwIEMyMCw0LjUgMTUuNSwwIDEwLDAgTDEwLDAgWiBNOCwxNC41IEw4LDUuNSBMMTQsMTAgTDgsMTQuNSBMOCwxNC41IFoiIGlkPSJTaGFwZSIvPjwvZz48L2c+PC9nPjwvc3ZnPg==');
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:hover {
      filter: invert(0.75);
      opacity: 0.95;
    }
  }
}

.content-page {
  font: {
    family: $font-family-sans-serif;
    size: $font-size-base;
    weight: $font-weight-base;
  }
  line-height: $line-height-base;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .ms-h1,
  .ms-h2,
  .ms-h3,
  .ms-h4,
  .ms-h5,
  .ms-h6 {
    font: {
      family: $font-family-sans-serif;
    }
  }

  .no_overlay_hero {
    height: 20vh;

    &> div {
      position: relative;

      @include media(mm) {
        height: 24vh;
      }

      .marketing & {
        @include media(mm) {
          height: 40vh;
        }
      }
      
      .ms-siteicon-a {
        @include media(mm) {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          height: 100%;
        }

        img.ms-siteicon-img {
          @include media(mm) {
            -o-object-fit: cover;
               object-fit: cover;
          }
          .marketing & {
            @include media(mm) {
              -o-object-fit: auto;
              object-fit: auto;
            }
          }
        }
      }

      .announcement {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        
        @include media(mm) {
          position: relative;
        }

        @include media(mo) {
          position: relative;
        }

        > .container {
          height: 100%;

          @include media(mm) {
            max-width: 100%;
          }

          @include media(mo) {
            max-width: 100%;
          }

          > .row {
            height: 100%;
          }
        }
        
        &__box {
          background: $ltBlue;
          color: $black;
          border-radius: $border-radius;
          padding: $spacer;
          box-shadow: $shadow;
        }
      }
    }

    .marketing & {
      text-shadow: none;

      .slug {
        display: block;
        width: 100%;
        // padding: 1rem 0;

        &-container {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: flex-end;
          justify-content: flex-start;
          z-index: 10;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }

  .hero {
    overflow: hidden;
    z-index: 2;
    text-shadow: 0px 0px 8px rgba(20, 20, 20, 0.8);

    // .marketing & {
    //   text-shadow: none;

    //   .clipping-border {
    //     content: "";
    //     z-index: 1;
    //     position: absolute;
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     background: var(--yellow);
    //     opacity: .995;
    //     mix-blend-mode: hard-light;
    //     clip-path: polygon(0px 0px, 75% 0%, 42% 100%, 0% 100%);
    //     top: 0;
    //   }

    //   .clipping-fill {
    //     content: "";
    //     z-index: 1;
    //     position: absolute;
    //     display: block;
    //     width: 100%;
    //     height: 100%;
    //     background: darken($qnBlue, 15%);
    //     opacity: .995;
    //     mix-blend-mode: initial;
    //     clip-path: polygon(0px 0px, 73% 0%, 40% 100%, 0% 100%);
    //     top: 0;
    //   }

    //   .tagline {
    //     &-container {
    //       width: 100%;
    //       height: 100%;
    //       display: flex;
    //       align-items: flex-end;
    //       justify-content: flex-start;
    //       z-index: 10;
    //       overflow: hidden;
    //     }

    //     display: block;
    //     width: 100%;
    //     padding: 1rem 0;
    //   }
    // }

    &:before {
      content: '';
      z-index: 1;
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: darken($qnBlue, 15%);
      opacity: 0.95;
      mix-blend-mode: hard-light;

      // .marketing & {
      //   content: unset;
      // }

    }

    &__img {
      position: absolute;
      overflow: hidden;
      width: 100%;
      top: -10px;
      height: auto;
      -o-object-fit: cover;
         object-fit: cover;
      -webkit-filter: grayscale(100%) blur(5px);
              filter: grayscale(100%) blur(5px);
      z-index: 0;

      // .marketing & {
      //   -webkit-filter: none;
      //   filter: none;
      //   top: 0;
      // }
    }

    &__title {
      z-index: 10;
      position: -webkit-sticky;
      position: sticky;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
    }

    // .parallax-focal {
    //   .marketing & {
    //     object-fit: contain;
    //     position: absolute;
    //     z-index: 2;
    //     height: 150%; /* Media Query, probably*/
    //     right: 0;
    //     top: 0;
    //   }
    // }    
  }

  header {
    text-rendering: optimizeLegibility;
    position: relative;
    min-height: 35vh;
    width: 100%;
    background: $qnBlue;

    @include media(xs) {
      display: none;
    } 

    h1 {
      z-index: 10;
      color: $ltBlue;
      font: {
        family: $font-family-sans-serif;
        size: $font-size-base*2.25;
        weight: $font-weight-litebold;
      }
      text-align: center;
      margin: 0 auto;
    }

    h2 {
      z-index: 10;
      color: lighten($ltBlue, 5%);
      font: {
        family: $font-family-sans-serif;
        size: $font-size-base*1.75;
        weight: $font-weight-litebold;
      }
      text-align: center;
      margin: 0 auto;
    }
  }

  .over {margin-top: -100px;}

  section.page_area {
    background: $ltBlue;

    .title_ribbon{
      padding: 0.3rem 0.9rem;
      background: $coal;
      border-radius: 4px;
      text-align: center;
      display: inline-block;
      margin-top: calc(-10pt + -0.9rem);
      -webkit-box-shadow: 0 2px 2px 2px rgba(25,25,25,0.08);
      box-shadow: 0 2px 2px 2px rgba(25,25,25,0.08);
      @include media(mm){
        margin-top: 0;
        width: 100%;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      @include media(xs) {
        display: none;
      }

      h1 {
        color: $white;
        font: {
          weight: 600;
          size: 20pt;
        }
      }
    }

    .page {
      min-height: 15vh;
    }

    .container {position: relative}    
  }
}

@import 'legacy/calendar';
@import 'accordion';
@import 'callout';

.article {
  padding: 1rem 0;

  font: {
    family: $font-family-sans-serif;
  }

  h1 {
    font: {
      weight: 600;
      size: 20pt;
      family: $font-family-sans-serif;
    }
    color: inherit;
  }
  
  p {
    @include media(md) {
      font: {
        size: 12pt;
        family: $font-family-sans-serif;
      }
    }

    @include media(mm) {
      font: {
        size: 14pt;
        family: $font-family-sans-serif;
      }
      line-height: 1.45;
    }

    font: {
      size: 12pt;
      family: $font-family-sans-serif;
    }
    line-height: 1.65;
  }

  &__img {
    border-radius: 10px;
    margin: 1rem 0;
  }

  li {
    family: $font-family-sans-serif;
    color: inherit;
    list-style-type: inherit;

    &.lst-none{
      list-style-type: none;
    }
  }

  div[id^="WebPartctl00"] table {
    table-layout: auto !important;
    tbody {
      tr {
        td {
          width: auto !important;
          height: auto !important;
          div[id^="MSOPictureLibrarySlideshowWebPart"] {
            width: auto !important;
            height: auto !important;
          }
        }
      }
    }
  }
  
  ul.list-unstyled{list-style-type: none;}

  @import 'tabbed'; 
  @import 'legacy/accordion';
  @import 'legacy/directory';

  .marketing-feature {
    margin-bottom: 3em;
    &__img {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 25%;
              flex: 0 0 25%;
      max-width: 25%;
      @include media(mm) {
        display: none;
      }
    }
    &__body {
      padding-left: 1rem !important;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 75%;
              flex: 0 0 75%;
      max-width: 75%;
      @include media(mm) {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
      }

      .marker {
        display: block;
        height: 8px;
        width: 64px;
        margin-bottom: 0.25rem;
        &.one   {background: $blue;}
        &.two   {background: lighten( $blue, 3%);}
        &.three {background: lighten( $blue, 6%);}
        &.four  {background: lighten( $blue, 9%);}
        &.five  {background: lighten( $blue, 12%);}
        &.six   {background: lighten( $blue, 15%);}
        &.seven {background: lighten( $blue, 18%);}
        &.eight {background: lighten( $blue, 21%);}
        &.nine  {background: lighten( $blue, 24%);}
        &.ten   {background: lighten( $blue, 27%);}
      }

      h2 {
        color: $body-color;
        font: {
          weight: 700;
          size: 18pt;
          family: $font-family-sans-serif;
        }
        margin-bottom: 0.25em;
      }

      .quick-actions {
        font: {
          weight: 400;
          style: italic;
        }
        
        &:after {
          display: inline-block;
          content: "|";
          text-decoration: none;
          padding-left: 1ch;
          font: {
            weight: 400;
            style: initial;
          }
          color: $body-color;
        }
      }

      p {
        color: $body-color;
        font: {
          size: 14pt;
        }
        margin-bottom: 0.25em;
      }

      p + a {
        text-align: right;
        display: block;
        font: {
          weight: 700;
          style: italic;
        }
        &:after {content: "»"}
      }
    }

    h3 {
      color: black;
      font: {
        size: 24px;
        weight: 600;
      }
    }

    h4 {
      color: black;
      font: {
        size: 15px;
        weight: 400;
      }
      margin-top: 8px;
      margin-bottom: 24px;
    }

    img {width: 100%;}

    a {
      color: black;
      font: {
        size: 16px;
        weight: 600;
      }
    }
  }

  /* Is a link within a content zone*/
  div[data-name*="Page Field: Page Content"] {
    a {
      color: $pc-link-color;
      -webkit-text-decoration: $pc-link-decoration;
              text-decoration: $pc-link-decoration;
      background-color: transparent;
      -webkit-text-decoration-skip: objects;
      @include hover {
        color: $pc-link-hover-color;
        -webkit-text-decoration: $pc-link-hover-decoration;
                text-decoration: $pc-link-hover-decoration;
      }
      &:visited {
        color: $pc-link-visited-color;
        -webkit-text-decoration: $pc-link-visited-decoration;
                text-decoration: $pc-link-visited-decoration;
      }
      &.external::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='12' height='12'%3E%3Cpath class='heroicon-ui' d='M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41zM17 14a1 1 0 0 1 2 0v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2h5a1 1 0 0 1 0 2H5v12h12v-5z'/%3E%3C/svg%3E");
        width: 9px !important;
        height: 9px !important;
        display: inline;
        font-size: 9px;
        color: inherit;
      }
    }
  }
}

@include sp-theme-color($rc-themes, 5);
.page {
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#navigationExplorer,
.side-ctas {
  a {
    background: $qnBlue !important;
    display: block;
    color: $ltBlue !important;
    text-decoration: none !important;
    font-weight: 600;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

    &:after {
      content: ' »';
      display: inline;
    }
    &:hover {
      background: darken($qnBlue, 5%) !important;
      -webkit-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;

    }
    &:focus {
      background: darken($qnBlue, 10%) !important;
      -webkit-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }
  }
}

.side-ctas {
  a {
    background: $pcBlue !important;

    &:hover {
      background: darken($pcBlue, 5%) !important;
    }
    &:focus {
      background: darken($pcBlue, 10%) !important;
    }
    &.blue {
      background: $blue !important;

      &:hover {
        background: darken($blue, 5%) !important;
      }
      &:focus {
        background: darken($blue, 10%) !important;
      }
    }
    &.qnBlue {
      background: $qnBlue !important;

      &:hover {
        background: darken($qnBlue, 5%) !important;
      }
      &:focus {
        background: darken($qnBlue, 10%) !important;
      }
    }
  }
}

.careers li{
  position: relative;
  font-size: 17pt;
  list-style-type: none;

  &::before {
    content: '✓';
    font-family: fontAwesome;
    position: absolute;
    top: 0.25em;
    left: -20px;
    line-height: 1em;
  }
}

section.home.sas {
  @include media(mo) {
    background-image: url(/suit-a-student/PublishingImages/SAS19_BG.jpg);
    background-repeat: no-repeat;
    background-position: top center !important;
    height: 72vh;
  }

  @include media(mm) {
    background-image: url(/suit-a-student/PublishingImages/SAS19_BG.jpg);
    background-repeat: no-repeat;
    background-position: top center !important;
    height: 72vh;
  }
}

section.home.open-house {
  @include media(mo) {
    background-image: url(https://www.rcsj.edu/OpenHouse-site/Gloucester-site/PublishingImages/oh-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center !important;
    height: 72vh;
  }

  @include media(mm) {
    background-image: url(https://www.rcsj.edu/OpenHouse-site/Gloucester-site/PublishingImages/oh-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center !important;
    height: 72vh;
  }
}

.open-house-map {
  padding: 3em 0;
  background: linear-gradient(hsla(212, 33.8%, 26.1%, 0.85),hsla(27.4, 41.2%, 16.7%, 0.85)),url(https://www.rcsj.edu/PublishingImages/adfs_export-bg-rcsj.jpg) no-repeat center;
   background-size: cover;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.open-house-pattern {
  background: #eee;
  background-image: url(https://www.rcsj.edu/OpenHouse-site/Gloucester-site/PublishingImages/gplay.png);
  background-repeat: repeat; 
}

section.home {
  background-size: cover;
  position: relative;
  height: 72vh;
  overflow: hidden;
  background: rgba(20,20,20,0.34);

  // @include media(mo) {
  //   background-image: url(/PublishingImages/HomePage-Video/video-replacement-bg.jpg);
  //   background-repeat: no-repeat;
  //   background-position: top center !important;
  //   height: 72vh;
  // }

  // @include media(mm) {
  //   background-image: url(/PublishingImages/HomePage-Video/video-replacement-bg.jpg);
  //   background-repeat: no-repeat;
  //   background-position: top center !important;
  //   height: 72vh;
  // }

  .home-hero {height: 100%;}

  .hero__message{
    text-align: center;
    left: 0;
    margin: auto;
    margin-top: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;

    @include media(mm) {
      transform: translateY(-25%);
    }
    
    h1 {
      font-weight: 700;
      letter-spacing: 2px;
      line-height: 1.3em;
      text-transform: capitalize;
      margin-bottom: 20px;
      text-shadow: 10px 10px 10px rgba(20,20,20,0.34);
      color: #fff;
      font-size: 4em;
      @include media(mm) {
        font-size: 1.75rem;
        top: 25%;
        text-shadow: 0px 7px 7px rgba(20,20,20,.12);
      }
      @include media(mo) {
        font-size: 2.5rem;
      }
    }
    
    h2 {
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 1.2em;
      text-transform: capitalize;
      margin: 0px auto 20px;
      text-shadow: 10px 10px 10px rgba(20,20,20,0.34);
      color: #fff;
      font-size: 2em;
      width: 70vw;
      @include media(mm) {
        font-size: 1.35rem;
        top: 25%;
        text-shadow: 0px 7px 7px rgba(20,20,20,.12);
        width: 90vw;
      }
      @include media(mo) {
        font-size: 1.85rem;
        width: 70vw;
      }
    }

    .action_button {
      line-height: 1rem;
      display: inline-block;
      border-radius: $border-radius;
      padding: .5em;
      display: inline-block;
      font-weight: 600;
      font-size: 17pt;
      color: $gray-900;
      background: $gray-200;
      box-shadow: 0px 5px 22px rgba(25,25,25,0.25);
      text-shadow: none;

      @include media(mo) {
        font-size: 14pt;
        margin-bottom: 0.5em;
      }

      @include media(mm) {
        font-size: 15pt;
        margin-bottom: 0.5em;
      }

      &.gold {
        color: $gray-900;
        background: $yellow;
        
        &:hover{
          background: darken($yellow, 5%);
        }
        &:focus{
          background: darken($yellow, 10%);
        }
      }

      &.blue {
        color: $ltBlue;
        background: $blue;
        
        &:hover{
          background: darken($blue, 5%);
        }
        &:focus{
          background: darken($blue, 10%);
        }
      }

      &.orange {
        color: $black;
        background: $orange;
        
        &:hover{
          background: darken($orange, 5%);
        }
        &:focus{
          background: darken($orange, 10%);
        }
      }

      &.queen {
        color: $ltBlue;
        background: $qnBlue;
        
        &:hover{
          background: darken($qnBlue, 5%);
        }
        &:focus{
          background: darken($qnBlue, 10%);
        }
      }

      &.pico {
        color: $ltBlue;
        background: $pcBlue;
        
        &:hover{
          background: darken($pcBlue, 5%);
        }
        &:focus{
          background: darken($pcBlue, 10%);
        }
      }
    }

  }
}

#main-home #poster.fadeOutAnimation {
  visibility: visible;

  @include media(lg) {
    animation: fadeOut 1s normal forwards ease-in-out;
    animation-delay: 6s;
  }
}

@keyframes fadeOut{
    0%   {opacity: 1;}
    100% {opacity: 0; visibility: hidden;}
}

@keyframes fadeIn{
    0%   {opacity: 0;}
    100% {opacity: 1; visibility: visible;}
}

#poster {
  z-index: -99;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%,-50%);
  object-fit: cover;
  background-size: cover;
  background-image: url(https://www.rcsj.edu/PublishingImages/backgrounds/homepage_01232020_desktop.jpg);

  @include media(mo) {
    background-image: url(https://www.rcsj.edu/PublishingImages/backgrounds/homepage_01232020_tablet.jpg);
  }

  @include media(mm) {
    background-image: url(https://www.rcsj.edu/PublishingImages/backgrounds/homepage_01232020_mobile.jpg);
  }
}

video#bgvid {
  z-index: -100;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #666;
  background-size: cover;

  @include media(mo) {
    display: none !important;
  }

  @include media(mm) {
    display: none !important;
  }
}

.timeline-Header,
.timeline-footer {
  display:none !important;
}

.card #twitter-widget-0{
  height: auto;
  position: absolute !important;
  top: 0;
  left: 0;
  @supports (-ms-high-contrast: none) {
    backgroun: $white;
  }
}

.marketing {
  a.campaign-button {
    border-radius: $border-radius;
    padding:0.25em 1.25em;
    margin-top:0em;
    display:inline-block;
    font: {
      weight: bold;
      size:17pt;
    }
    
    &::after {
      content: " »";
      display: inline;
    }
    &.gold {
      color: $gray-900;
      background: $gold;
    }
    &.blue {
      color: $ltBlue;
      background: $branding;
    }
    &.small {
      padding: 0.25em 2em;
      margin-top: 0em;
      margin-bottom: 1em;
      display: block;
      font-size: inherit;
      text-align: center;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
