@include media(lg) {
  div.d-flex {

    div[id^='ct100_PlaceHolderMain'],
    div[webpart] {
      display: flex;
      flex: 1;
    }

    & > div {
      display: flex;
      flex: 1;
      flex-direction: column;
      // div[id^='ct100_PlaceHolderMain'] {
      //   display: flex;
      //   flex: 1;
      // }
      .card {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
        &__body {
          display: flex;
          flex: 1;
          flex-direction: column;
          &.np a {
            display: flex;
            flex: 1;
            flex-direction: column;
          }
        }
        &__event {flex: 1;}
      }
    }
  }
}
