@include media(lg) {
  @supports not (-ms-high-contrast: none){
    #whatsNew div.d-flex,
    #ccog div.d-flex {

      div[id^='ct100_PlaceHolderMain'],
      div[id^='ctl00_PlaceHolderMain'],
      div[webpart] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
      }

      & > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        /* div[id^='ct100_PlaceHolderMain'] {*/
        /*   display: flex;*/
        /*   flex: 1 1 auto;*/
        /* }*/
        .card {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-flex: 1 1 auto;
              -ms-flex: 1 1 auto;
                  flex: 1 1 auto;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          width: 100%;
          &__body {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1 1 auto;
                -ms-flex: 1 1 auto;
                    flex: 1 1 auto;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            &.np a {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-flex: 1 1 auto;
                  -ms-flex: 1 1 auto;
                      flex: 1 1 auto;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                      flex-direction: column;
            }
          }
          &__event {-webkit-box-flex: 1 1 auto;-ms-flex: 1 1 auto;flex: 1 1 auto;}
        }
      }
    }
  }
}

@include media(md) {
  /* IE gets punished for existing. We're okay with giving a slightly worse experience since it's not a major piece.*/
  /* Everyone else gets nicely sized cards.*/
  @supports not (-ms-high-contrast: none){
    #Highlights,
    #ccog {
      .card__body.lp {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        &>a:nth-of-type(1){
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-flex: 1;
              -ms-flex: 1 1 auto;
                  flex: 1 1 auto;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
        }
      }
      .card__body.lp a{
        @include hover-focus-active{color: $body-color !important;}
        h3 {
          font-size: 100%;
          color: $body-color;
        }
        p {
          font-size: 85%;
          color: $body-color;
        }
        a strong {
          @include hover-focus-active{color: $body-color}
          font-size: 80%;
        }
      }
      .row .col-md-4 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        .card {
          -webkit-box-flex: 1;
              -ms-flex: 1 1 auto;
                  flex: 1 1 auto;
        }
      }
    }
  }
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none){
  #ccog {
    .d-flex {
      display: block !important;
    }
  }
}

@include media(lg) {
  #Calendar {

    div[id^='ct100_PlaceHolderMain'],
    div[webpart] {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
    }

    & > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      /* div[id^='ct100_PlaceHolderMain'] {*/
      /*   display: flex;*/
      /*   flex: 1 1 auto;*/
      /* }*/
      &.card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        &__body {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-flex: 1 1 auto;
              -ms-flex: 1 1 auto;
                  flex: 1 1 auto;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          &.np a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex: 1 1 auto;
                -ms-flex: 1 1 auto;
                    flex: 1 1 auto;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
          }
        }
        &__event {-webkit-box-flex: 1 1 auto;-ms-flex: 1 1 auto;flex: 1 1 auto;}
      }
    }
  }
}

#whatsNew div.d-flex {
  & > div {
    .card {
      &__body.twitter-container {
        @include media(mm) {
          height: 400px;
        }
        @include media(mo) {
          height: 400px;
        }
      }
    }
  }
}

@include media(lg) {
  .negative {
    margin: -2em 0;
    z-index: 10;

    &-top-only {
      margin-top: -2em;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }

    &-bottom-only {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: -2em;
    }

  }

}
