.evergreen {
  margin-bottom: 32px;
  &__accent {
    height: 8px;
    width: 64px;
    &.a {background: #426492;}
    &.b {background: #92c4c5;}
    &.c {background: #8ca1bc;}
    &.d {background: #b7c1cb;}
  }

  h3 {
    color: black;
    font: {
      size: 24px;
      weight: 600;
    }
  }

  h4 {
    color: black;
    font: {
      size: 15px;
      weight: 400;
    }
    margin-top: 8px;
    margin-bottom: 24px;
  }

  img {width: 100%;}

  a {
    color: black;
    font: {
      size: 16px;
      weight: 600;
    }
    &:after {content: "»"}
  }
}
