footer.cd-main-content {
  z-index: 0;
}

.social{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  &__icon {
    width: 4rem;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      width: 2.75rem;
    }
    height: auto;
    padding: 0.5rem 0;
  }
}

.ownLine{
  @include media(xs) {
    display: block;
  }
}

.mb-mm-35 {
  @include media(mm) {
    margin-bottom: 55px;   
  }
}
