html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Arial", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 18px;
  color: $black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $blue;
  background-attachment: fixed;
  letter-spacing: 0px;
  margin: 0px;
  min-height: calc(100vh - 100px);
}
