%svg {
  margin-top: -4px;
  vertical-align: middle;
  fill: currentColor; 
}

a.classic,
.normal-links a {
  color: $link-color;
  text-decoration: $link-hover-decoration;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:visited {
    color: $link-color;
  }

  svg{@extend %svg}
}

a.blend {
  color: inherit;
  text-decoration: $link-hover-decoration;
  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
  &:visited {
    color: $link-color;
  }
  svg{@extend %svg}
}

a.accent {
  font: {
    weight: $font-weight-litebold;
  }
  color: $yellow;
  text-decoration: underline;
  svg{@extend %svg}
}
