h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px;
}

header.cd-main-content{
  z-index: 4;
}

.fbZone {padding: 32px 0;}

.no-padding {
  padding: 0;
}
.padding-tb-12 {
  padding: 12px 0;
}
div[data-name="SearchBox"] .ms-srch-sb.ms-srch-sb-border{
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav>ul, ul li{
  list-style-type: none;
  color: white;
  margin: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -o-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  letter-spacing: 0;
}

.logo { 
  padding: 14px 0;
  @include media(mm){
    padding: 0;
  }
}

ul.cd-header-buttons {
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  right: unset;
  top: 4px;
  margin: 0;
  position: relative;
  &>li{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    a {
      background: $yellow;
      border-radius: 4px;
      &:hover,
      &:focus,
      &:active {
        background: #dab62a;
      }
    }
    .cd-nav-trigger span,
    .cd-nav-trigger span::before,
    .cd-nav-trigger span::after {
      background: $coal;
    }
    .cd-nav-trigger.nav-is-visible span {
      background: rgba(0,0,0,0);
    }
  }
}

nav>ul>li>a {

  &:hover { 
    text-decoration: none;
  }

}

.mlr-0 {
  @include media(xs) {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.mlr-15 {
  @include media(mm) {
    margin-bottom: 15px;
  }
}

.collapsible {
  display: initial !important;
  .d-mm-none {
    @include media(mm) {
      display: none;
    }
  }
}

.d-mm-none {
  @include media(mm) {
    display: none;
  }
}
.d-ml-none {
  @include media(md) {
    display: none;
  }
}

.cd-primary-nav .cd-secondary-nav>li {
  @include media(md) {
    width: 24%;
    border-right: none;
  }
}

/* nav>ul>li>a::after {*/
/*     content: '';*/
/*     display: block;*/
/*     width: 0;*/
/*     height: 2px;*/
/*     background: #fff;*/
/*     transition: width .175s;*/
/* }*/

/* nav>ul>li>a:hover::after,*/
/* nav>ul>li>a.selected::after {*/
/*   width: 100%;*/
/*   transition: width .175s;*/
/* }*/

.offset-md-half{
  margin-left: calc(8.3333333333%/2);
}
section.slider{
  padding: 0;
  margin-bottom: -5px;
}
nav>ul{display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}
img{
  max-width: 100%;
  height: auto;
}
.quicklinks{
  text-align: right;
  font-size: 13px;
  color: white;
  font-weight: light;
}
.quicklinks a, .quicklinks a:hover, .quicklinks a:visited, .quicklinks a:active{
  @include media(xs) {
    font: {
      size: 75%;
    }
  }
  color: white;
  text-decoration: none;
}
.quicklinks span, .quicklinks div.d-inline-block a:not(.last){
  padding-right: 1.125em;
}
.quicklinks .txt-grey{
  color: #ccc;
  font-weight: lighter;
}
.txt-grey {
  color: #a8b6c6;
}

@include media(nml) {
  .cd-primary-nav {
    -webkit-flex-wrap: wrap !important;
        -ms-flex-wrap: wrap !important;
            flex-wrap: wrap !important;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    > li {
      width: 24%;
      font: {
        size: 14px;
      } 
    } 
  }
}

@include media(md) {
  .cd-primary-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: none;
    /* overflow-x: hidden;*/
    padding: 0;
    position: initial;
    > li {
      position: initial;
      float: none;
      margin-left: 0;
      &.has-children {
        display: block;
        ul {padding: 0;}
      }
      .cd-secondary-nav {
        /* display: inline-block;*/
        &:nth-of-type(1) {
          z-index: 99999;
          padding: 15px; 
          padding-bottom: 95px; 
          display: -webkit-box; 
          display: -webkit-flex; 
          display: -ms-flexbox; 
          display: flex; 
          -webkit-flex-wrap: wrap; 
              -ms-flex-wrap: wrap; 
                  flex-wrap: wrap;}
        /* position: fixed;*/
        width: 100%;
        li {
          position: initial;
          &.see-all {background: $white;}
        }
      }
    }
  }
}

@include media(mm) {
  .cd-primary-nav .see-all a {
    color: $white;
    font-weight: bold;
  }
  .cd-primary-nav .cd-nav-icons{
    padding-left: 0;

    .cd-nav-item.ico svg {
      display: block;
      position: absolute;
      left: 20px;
      top: 50%;
      margin-top: -20px;
      width: 40px;
      height: 40px;
      fill: $qnBlue;
    }

  }

  .cd-primary-nav,
  .cd-secondary-nav {overflow-x: hidden;}

  .cd-primary-nav {
    display: block;
    padding: 0;
  }

  .cd-secondary-nav {
    padding: 0;
    ul {padding: 0;}
  }
}
