.padding{
  &-xs{padding: 0.125rem 0}
  &-sm{padding: 0.250rem 0}
  &-md{padding: 0.500rem 0}
  &-lg{padding: 0.750rem 0}
  &-xl{padding: 0.875rem 0}
}

$padding: 0;
$plist: top left bottom right;

@while ($padding < 120) {
    @each $direction in $plist {
        .p-#{$direction}\:#{$padding} {
            padding-#{$direction}: #{$padding}px;
        }
    }
    $padding: $padding + 5;
}