.ms-helperText, input.ms-helperText {
  color: #ebeff4 !important;
}

.ms-srch-sb>input {
  display: block !important;
  border-style: none !important;
  outline-style: none !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  padding: 13px !important;
  width: 100% !important;
  background-color: #4f74a3 !important;
  -webkit-transition: 0.25s ease-in-out !important;
  -o-transition: 0.25s ease-in-out !important;
  transition: 0.25s ease-in-out !important;
  margin: 0 !important;
  height: 100% !important;
  width: 100% !important;
}
.ms-srch-sb>input:hover{
  background-color: #6683a9 !important;
}
.ms-srch-sb>input:focus {
  color: black !important;
  background-color: white !important;
  -webkit-transition: 0.25s ease-in-out !important;
  -o-transition: 0.25s ease-in-out !important;
  transition: 0.25s ease-in-out !important;
}

.search #ctl00_g_1b889a18_7b62_41dd_9d92_4216a29f2d77{
  display: none;
}

.search .button{
  border-style: none !important;
  font-weight: 600 !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  padding: 13px !important;
  margin-right: 30px !important;
  text-align: center !important;
  position: relative;
  @include media(mm) {
    @media all and (-ms-high-contrast: none){
      display: inline-block;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px !important;
    -webkit-box-flex: 1 !important;
    -webkit-flex: 1 !important;
        -ms-flex: 1 !important;
            flex: 1 !important;
    &:nth-of-type(1) {
      margin-right: 30px !important;
    }
  }
  text-transform: uppercase !important;
  color: #373d3f !important;
  background-color: #ebc944 !important;
  -webkit-transition: 0.25s ease-in-out !important;
  -o-transition: 0.25s ease-in-out !important;
  transition: 0.25s ease-in-out !important;
}

.search .button li a {
  text-transform: uppercase !important;
  color: #373d3f !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}

#d-link {
  .brt-none {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
  &.brb-none {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

ul#dir-active {
  display: none;
  width: 100%!important;
  margin: 0!important;
  padding: 0!important;
  left: 0!important;
  right: 0!important;
}

#dir-active {
  background-color: #dab62a !important;
  position: absolute;
  min-height: 50px;
  width: 180px!important;
  text-align: center!important; 
  left: 0;
  top: 100%;
  display: none; 
  border-radius: 5px;
  background-image: none;
  text-transform: none;
  z-index: 9;
  li {
    vertical-align: middle;
    text-transform: lowercase;
    padding: 10px 0 !important;
    position: relative;
    display: inline-block;
    font-size: 16px!important;
    margin: 0;
    text-align: center!important;
    width: 100%;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    z-index: 201;
    a {color: #373d3f !important;}
    .fa {
      font-size: 12px;
      margin-right: 3px;
      opacity: .8;
    }
    &:hover  {
      -webkit-transition: all 2s;
      -o-transition: all 2s;
      transition: all 2s;  
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid #D2DBE7;
    }
    &:last-of-type {
      border-bottom-right-radius: 5px!important;
      border-bottom-left-radius: 5px!important;
      overflow: hidden;
    }
    &:first-of-type {
      border-top-right-radius: 5px!important;
      border-top-left-radius: 5px!important;
    }
  }
}

.search .button:hover {
  background: #dab62a !important;
  -webkit-transition: 0.25s ease-in-out !important;
  -o-transition: 0.25s ease-in-out !important;
  transition: 0.25s ease-in-out !important;
}
.search .button:focus {
  background: #b59724 !important;
  -webkit-transition: 0.25s ease-in-out !important;
  -o-transition: 0.25s ease-in-out !important;
  transition: 0.25s ease-in-out !important;
}
.ms-srch-sb-navLink, .ms-srch-sb-searchLink {
  display: inline-block !important;
  cursor: pointer !important;
  vertical-align: top !important;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  position: relative !important;
  overflow: hidden !important;
}

.ms-srch-sb > .ms-srch-sb-searchLink {
  margin-left: -1px !important;
  height: 20px !important;
  width: 20px !important;
  display: none !important;
}

.ms-srch-sb-searchImg {
  left: -35px !important;
  top: -57px !important;
  position: absolute !important;
}

.ms-srch-sb-border {
  border: 0 !important;
}

.ms-srch-sb-borderFocused {
  border: 0 !important;
  width: 100% !important;
}

