@import 'links';
@import 'sizing';

.md-bold {
  font: {
    weight: 600;
  }
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

.zTitle {
  @include media(mm) {
    font: {
      size: 22px;
    }
  }
}

@each $key, $value in $weights {
  .fw-#{$key} {
    font: {
      weight: $value;
    }
  }
}
main .ms-rtestate-field {
  h1 {
    color: #414F5A;
    font-weight: 600;
  }

  h2 {
    color: #414F5A;
    font-weight: 400;
  }

  h3,
  h4 {
    color: #333;
  }
}
