@import 'links';
@import 'sizing';
@import 'functions/spacing';

.md-bold {
  font: {
    weight: 600;
  }
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

.zTitle {
  @include media(mm) {
    font: {
      size: 22px;
    }
  }
}

@each $key, $value in $weights {
  .fw-#{$key} {
    font: {
      weight: $value;
    }
  }
}
main .ms-rtestate-field {
  h1 {
    color: #414F5A;
    font-weight: 600;
  }

  h2 {
    color: #414F5A;
    font-weight: 400;
  }

  h3,
  h4 {
    color: #333;
  }
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.textBlack {
  color: $coal !important;
}

.black {
  color: black;
}

.accent-text {
  color: $gray-600;
}

.ls-1 {
  letter-spacing: 0.1em;
}

.ls-2 {
  letter-spacing: 0.2em;
}

.ls-3 {
  letter-spacing: 0.3em;
}

.ml-4 {
  margin-left: 1em;
}

.w-8 {
  width: 8em;
}

.uppercase {
  text-transform: uppercase;
}
.tip {
  margin-top: 5em;
}