.md-bold {
  font: {
    weight: 600;
  }
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

.zTitle {
  @include media(mm) {
    font: {
      size: 22px;
    }
  }
}

@each $key, $value in $weights {
  .fw-#{$key} {
    font: {
      weight: $value;
    }
  }
}
