// Aw yeah! CSS Variables FTW
:root {
  --yellow: #ffc600;
  --black: #272727;
  --blue: #29568f;
  --lightblue: #e0e5eb;
  --white: #fff;
  --darkblue: #264f82;
}

// Theme Colors (Plus Reset)
$black:    #000 !default;
//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$break-vals: xs sm md lg xl wl;

$blue:    #29568f !default;
$branding:#005494 !default;
$ltBlue:  #e0e5eb !default;
$dkBlue:  #1e3f69 !default;
$qnBlue:  #3c6599 !default;
$pcBlue:  #5f7696 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ebc944 !default;
$gold:    #ffc600 !default;
$coal:    #373d3f !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// Lighten/Darken Percentages for the new Colors function
$luminance: () !default;
$luminance: map-merge(
  (
    "0":          50,
    "100":        40,
    "200":        30,
    "300":        20,
    "400":        10,
    "600":        10,
    "700":        20,
    "800":        30,
    "900":        40,
  ),
  $luminance
);

// Lighten/Darken Percentages for the new Colors function
$rc-themes: () !default;
$rc-themes: map-merge(
  (
    "black":          $coal,
    "white":          $ltBlue,
    "accent-white":   $gray-200,
    "grey":           $gray-500,
    "accent-blue":    $qnBlue,
    "lite-blue":      $pcBlue,
    "branding-blue":  $branding,
    "web-blue":       $blue,
    "dark-blue":      $dkBlue,
    "yellow":         $yellow
  ),
  $rc-themes
);

// Global Theme
$body-color:                $gray-900 !default;
$body-bg:                   $white !default;
$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);
$shadow: -0.25rem 0.25rem 0.75em rgba(0,0,0,0.16);

// Types of font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:      "Inter","Segoe UI",-apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
$font-size-base:              1rem !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-litebold:        600 !default;
$font-weight-bold:            700 !default;
$weights: (
  lt: $font-weight-light,
  nm: $font-weight-normal,
  md: $font-weight-litebold,
  hv: $font-weight-bold
);
$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;
$text-muted:                  $gray-600 !default;
$headings-margin-bottom:      ($spacer / 2) !default;
$paragraph-margin-bottom:   1rem !default;
$dt-font-weight:              $font-weight-bold !default;
// Content Zones on the page abide by the following ratios
$ms-font-size-base:      1.125em;
$ms-ratio:               1.5;

// Links, the lifeblood of the Web
$link-color:                theme-color("primary") !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;

// Page Content (PC) Area Variables
$pc-link-color:                theme-color("primary") !default;
$pc-link-decoration:           underline !default;
$pc-link-hover-color:          lighten($pc-link-color, 5%) !default;
$pc-link-hover-decoration:     underline !default;
$pc-link-visited-color:        $purple !default;
$pc-link-visited-decoration:   underline !default;

// Table
$border-width:                1px !default;
$border-color:                $gray-300 !default;
$border-radius:               4px !default;
$table-cell-padding:          .75rem !default;
$table-cell-padding-sm:       .125rem !default;
$table-color:                 $body-color !default;
$table-bg:                    null !default;
$table-accent-bg:             rgba($black, .05) !default;
$table-hover-color:           $table-color !default;
$table-hover-bg:              rgba($black, .075) !default;
$table-active-bg:             $table-hover-bg !default;
$table-border-width:          $border-width !default;
$table-border-color:          $border-color !default;
$table-head-bg:               $gray-200 !default;
$table-head-color:            $gray-700 !default;
$table-dark-color:            $white !default;
$table-dark-bg:               $gray-800 !default;
$table-dark-accent-bg:        rgba($white, .05) !default;
$table-dark-hover-color:      $table-dark-color !default;
$table-dark-hover-bg:         rgba($white, .075) !default;
$table-dark-border-color:     lighten($table-dark-bg, 7.5%) !default;
$table-striped-order:         odd !default;
$table-caption-color:         $text-muted !default;
$table-bg-level:              -9 !default;
$table-border-level: -6 !default;

// Toasts

$toast-max-width:                   350px !default;
$toast-padding-x:                   .75rem !default;
$toast-padding-y:                   .25rem !default;
$toast-font-size:                   .875rem !default;
$toast-color:                       null !default;
$toast-background-color:            rgba($white, .85) !default;
$toast-border-width:                1px !default;
$toast-border-color:                rgba(0, 0, 0, .1) !default;
$toast-border-radius:               $border-radius !default;
$toast-box-shadow:                  0 .25rem .75rem rgba($black, .1) !default;

$toast-header-color:                $gray-600 !default;
$toast-header-background-color:     rgba($white, .85) !default;
$toast-header-border-color: rgba(0, 0, 0, .05) !default;

// Label
$label-margin-bottom:                   .5rem !default;