$sm: 575px;
$mm: 767px;
$md: 768px;
$lg: 992px;
$xl: 1199px;

@mixin media($canvas) {
  @if $canvas == sm {
   @media only screen and (min-width: $sm) {@content;}
  } @else if $canvas == mm {
   @media only screen and (max-width: $md) {@content;}
  } @else if $canvas == md {
   @media only screen and (min-width: $md) {@content;}
  } @else if $canvas == lg {
   @media only screen and (min-width: $lg) {@content;}
  } @else if $canvas == xl {
   @media only screen and (max-width: $xl) {@content;}
  }
}
