$xs: 00px;
$sm: 575px;
$mm: 767px;
$md: 768px;
$lg: 992px;
$xl: 1199px;
$wl: 1500px;

@mixin media($canvas) {
  @if $canvas == xs {
   @media only screen and (max-width: $sm) {@content;}
  } @else if $canvas == sm {
   @media only screen and (min-width: $sm) {@content;}
  } @else if $canvas == mm {
   @media only screen and (max-width: $mm) {@content;}
  } @else if $canvas == md {
   @media only screen and (min-width: $md) {@content;}
  } @else if $canvas == mo {
   @media only screen and (min-width: $md) and (max-width: $lg - 1) {@content;}
  } @else if $canvas == lg {
   @media only screen and (min-width: $lg) {@content;}
  } @else if $canvas == lx {
   @media only screen and (min-width: $lg) and (max-width: $xl) {@content;}
  } @else if $canvas == xl {
   @media only screen and (max-width: $xl) {@content;}
  } @else if $canvas == xlx {
   @media only screen and (min-width: $xl) {@content;}
  } @else if $canvas == nml {
    @media only screen and (min-width: $md) and (max-width: $xl) {@content;}
  } @else if $canvas == mx {
    @media only screen and (min-width: $md) and (max-width: $wl) {@content;}
  } @else if $canvas == lwl {
    @media only screen and (min-width: $xl + 1) and (max-width: $wl - 1) {@content;}  
  } @else if $canvas == wl {
    @media only screen and (min-width: $wl) {@content;}
  }
}
