$positions: static, relative, absolute, fixed, sticky;
$bps: xs sm mm md lg xl wl;

@each $position in $positions {
  .position-#{$position} { position: $position !important; }

  @each $breakpoint in $bps {
    .position-#{$breakpoint}-#{$position} {
      @include media(#{$breakpoint}) {
        position: $position !important; 
      }
    }
  }
}

// Shorthand

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-fixed;
}

.sticky-top {
  @supports (position: sticky) {
    position: sticky;
    top: 0;
    z-index: $zindex-sticky;
  }
}