.dfwp-column.dfwp-list,
.dfwp-list {
  padding-left: 0;
  list-style-type: none;
}

.dfwp-item .groupheader.item.band {
  padding: 1rem;
  border-radius: $border-radius;
  background: $gray-500;
  color: $white;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.administrator,
.administratorSmall {
  width: 100%;
  max-width: 64rem;
  margin-bottom: 2rem;
  background-color: $gray-100;
  display: flex;
  padding: 1.5rem;
  position: relative;
  border: solid 1px $gray-300;
  border-radius: $border-radius;
  font-size: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  @include media(mm) {
    flex-direction: column;
  }
  a[href^="mailto:"] {
    text-decoration: underline;
    font-style: italic;
  }
}

.adInfo,
.adminInfo {
  display: block;
}

.bioSpacer {
  width: 100%;
  display: block;
  margin-bottom: 15px!important;
}

.adImager,
.adminImager {
  position: relative;
  @include media(mm) {
    margin-bottom: 1rem;
  }
  
  @include media(xlx) {
    // padding-right: 1.5rem;
  }
}

.adImager img,
.adminImager img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  opacity: .93;
  object-fit: cover;
  object-position: center center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  @include media(mm) {
    width: 6rem;
    height: 6rem;
  }
}

.adName,
.adminName, {
  font-size: 1.125rem;
  font-weight: 700; 
}

.adEmail,
.adminEmail {
  color: blue;  
}

.adminTitle {
  color: $qnBlue;
}

.adNumer,
.addFullInfo {
  font-weight: 400; 
  margin-bottom: 0.25rem;
}

.presidesc {
  width: auto;
  display: inline-block;  
  margin-top: 10px;
  height: auto;
}

.administrator,
.administrator *:not(.bioIntro) {
  // transition: all .3s;  
}

.bioIntro,
.bioToggle {
  display: none;
}

.staffEdu,
.epStatus  {
  margin-bottom: 5px; 
}

@media screen and (min-width: 767px) {
  .cat-news:nth-of-type(even) {
    margin-left: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .cat-news:nth-of-type(even) {margin-left: 20px!important;}

  .cat-news {
    margin-bottom: 20px!important;
    vertical-align: top;
    max-width: 220px;
  }

  .administrator,
  .administrator *:not(.bioIntro) {transition: all .3s;}

  .adImager   {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 120px!important;
    height: 120px!important;
    margin: 0 auto!important;
    overflow: hidden;
    float: none!important;
    display: block;
    margin-bottom: 15px!important;
    padding: 0!important;
  }

  .administrator {
    // width: 90%!important;
    // padding: 5%!important;
  }
}

/* Staff Directory CSS starts here */

#act-direcory {
  width: 100%;
  overflow: hidden!important;
}

#act-direcory > .title {
  width: 100%;
  height: 35px!important;
  line-height: 35px!important;
  background-color: #C8D3E0;
  color: #254150!important;
  font-weight: bold;
  font-size: 18px!important;
  float: left;
  padding: 5px 15px 15px 15px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-top: 5px;
  float: left;
  position: relative;
}

#act-direcory .title > div {
  text-align: center; 
}

.act-employee-directory {
  width: 100%;
  background-color: #ddd; 
  float: left;
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
}

.act-employee-directory strong {
  width: 100%;
  display: none;
}

.act-employee-directory:nth-of-type(2n) {
  background-color: #eee;
}

.act-employee-directory > div, .title > div {
  float: left;
  font-size: 16px;
  height: auto;
  color: black;
}

.act-employee-directory .name, .title .tname  {
  width: 30%;
}

.act-employee-directory .center, .title .department {
  width: 50%;
}

.act-employee-directory .phone, .title .ext {
  // width: 100px;
  text-align: center;
}
